USE [master]
GO
/****** Object:  Database [Intrument_Rentals]    Script Date: 11/21/2019 4:46:26 PM ******/
CREATE DATABASE [Intrument_Rentals]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Intrument_Rentals', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Intrument_Rentals.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Intrument_Rentals_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Intrument_Rentals.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Intrument_Rentals].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Intrument_Rentals]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11/21/2019 4:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[CLientFirstName] [varchar](30) NOT NULL,
	[CLientLastName] [varchar](30) NOT NULL,
	[Address] [varchar](30) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[State] [varchar](30) NOT NULL,
	[Zip] [varchar](5) NULL,
	[Email] [varchar](30) NOT NULL,
	[Phone] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instrument]    Script Date: 11/21/2019 4:46:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instrument](
	[InstrumentID] [int] IDENTITY(1,1) NOT NULL,
	[Desription] [varchar](30) NOT NULL,
	[Type] [varchar](30) NOT NULL,
	[Price] [int] NULL,
	[ClientID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InstrumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
