@{
    ViewBag.Title = "About";
}
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
</style>
<body>
    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">
        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="~/Content/images/musicnotes.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>
            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">Our History</h1><br>
                <h5 class="w3-center">Established 1996</h5>
                <p class="w3-large">In the last 23 years we have grown from a garage stop and shop instrument rental business. We have moved from location to location, but have found that the best way to reach the most amount of people is by going where all the youth are going, online. To help accomplish our mission we want to be as accessible as possible. </p>
            </div>
        </div>
        <hr>
        <!-- Menu Section -->
        <div class="w3-row w3-padding-64" id="menu">
            <div class="w3-col l6 w3-padding-large">
                <h1 class="w3-center">Our Mission</h1><br>
                <p class="w3-large">We strive to fill every hand with a musical instrument. After countless study it has been proven that the more music the more peaceful the world. Our mission might be ambitious, but it really is to create world peace. This site was established with the purpose to bring music to all the world. The hope was that with online instrument rentals anyone with the desire to brighten the world with beautiful sounds of acoustic instruments would be able to accomplish their dreams and spread peace throughout.</p>
            </div>
            <div class="w3-col l6 w3-padding-large">
                <img src="~/Content/images/mouserate.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>
        </div>
        <!-- Founder Section -->
        <hr>
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="~/Content/images/founder.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>
            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">Our Founder</h1><br>
                <p class="w3-large">"Tim Lockhart loved music from the womb. His mother swears that the only time he ever kicked was when she was playing her violin. He became somewhat of child prodigidy when he went to the Juliard School of Music at age 11. The more he learned about music the more he dreamed that everyone could hear the sound of the beautiful strums of an acoustic instrument which inspired him to buy and then rent out the best instruments he could find.</p>
            </div>
        </div>
        <!-- End page content -->
    </div>
</body>
</html>